.nav-button {
    margin: 0 5px;
    padding:0 5px;
    font-size: 18px;
    display:inline-flex;
    flex-direction: column;
    color:#232f3e
}
.top-nav >div {
    flex:1;
    /* border: 1px solid; */
}
.search-wrapper {
    display: flex;
    align-items: center;
    flex:2;
    justify-content: center;
    /* border: 1px solid; */

}
.search-wrapper > span {
    margin: 0 10px;
    font-size: 16px;
}
.nav-buttons{
    text-align: right;
}
.nav-button p {
    font-size: 12px;
    margin-top:3px;
    margin-bottom: 0;
    
    /* display: NONE; */
}
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

