.product{
    width: 250px;
    min-width: 250px;
    /* border: 1px solid;  */
    text-align: center; 
    margin-right: 5px;  
    position: relative;
}
.product img {
    max-width: 200px;
    max-height: 200px;
}
.amazon-prime {
    width: 30px;
    position: absolute;
    right: 0;
}
.ratings {
    /* display: block; */
    font-size: 14px;
}
.product-buttons {
    /* text-align: center; */
}
.product-button {
    display: inline-block;
    padding: 10px;
    margin-right: 5px;
    font-size: 18px;

}
.product-title {
    margin: 10px 0;
    font-weight: bold;
    
}