@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family: 'Open Sans', sans-serif;
}

.current-order{
  margin: 10px 0;
  margin-bottom: 30px;
}

.amazon-products{
  margin: 20px 0;
}
.amazon-products img{
  width: 100%;
  object-fit: cover;
  height: 250px;
  object-position: 0 0;
}
.section-wrapper{
  min-height: 300px;
  margin: 40px 0;
  
}
.product-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x:auto; 
  
}
.section-wrapper .title {
  font-size: 16px;
  font-weight: bold;
}

.container {
  padding: 10px;
  margin:10px;

}
